name: 'Library'

env:
  VERSION: 1.0.0
  VERSION_SUFFIX: '-alpha.2'
  # VERSION_SUFFIX: ''
  ASM_VERSION: 0.0.0

on:
  push:
    branches:
    - master

  pull_request:
    branches:
    - master

  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          6.0.x
          8.0.x
    - name: run tests
      run: dotnet test src/DeltaLake.sln -c release


  build:
    runs-on: 'ubuntu-latest'
    name: 'Build NuGet'
    steps:
    - run: |
        echo head_ref: ${{ github.head_ref }}
        echo run id: ${{ github.run_id }}
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          6.0.x
          8.0.x

    - name: Build Library
      run: |
        envsubst < src/DeltaLake/Globals.cs > g.tmp && mv g.tmp src/DeltaLake/Globals.cs
        cat src/DeltaLake/Globals.cs
        dotnet build src/DeltaLake.sln -c release /p:Version=${{ env.VERSION }}${{ env.VERSION_SUFFIX }} /p:FileVersion=$VERSION /p:AssemblyVersion=$ASM_VERSION

    - name: collect artifacts
      run: |
        mkdir artifacts
        cp src/DeltaLake/bin/Release/*nupkg artifacts/
        echo "${{ env.VERSION }}" >> artifacts/version.txt
        cp docs/release-history.md artifacts/

    - name: collect artifacts
      run: |
        mkdir -p artifacts
        cp src/DeltaLake/bin/Release/*.nupkg artifacts/
        echo "${{ env.VERSION }}" >> artifacts/version.txt
        cp docs/release-history.md artifacts/
        grep -m 2 -B 1000 '^## ' artifacts/release-history.md | tail -n +3 | head -n -2 > artifacts/release-notes.md
        cat artifacts/release-notes.md
    - name: upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: bin
        path: artifacts/*

  release:
    runs-on: ubuntu-latest
    needs:
      - build
      - test
    if: github.ref == 'refs/heads/master'
    steps:
  
    - uses: actions/download-artifact@v4
      with:
        name: bin

    - name: print releaes notes
      run: cat release-notes.md

    # publish to nuget regardless
    - name: Push to nuget.org
      run: dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

    - name: 📢 Create release
      uses: softprops/action-gh-release@v1
      if: ${{ !env.VERSION_SUFFIX }}
      with:
        tag_name: ${{ env.VERSION }}
        name: ${{ env.VERSION }}
        files: |
          *.nupkg
        body_path: release-notes.md
